html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  background-color: #f3f4fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  border-radius: 6.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #c2cdd6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #778592;
  width: 20px;
}

.underLine {
  background-color: #ffff99 !important;
}

.col1 {
  color: #f0078e;
}
.col2 {
  color: #606060;
}
.col3 {
  color: #cf6b7e;
}
.col4 {
  color: #195c82;
}
.col5 {
  color: #209908;
}
.col6 {
  color: #09666b;
}
.col7 {
  color: #8270ba;
}
.col8 {
  color: #995c8f;
}
.col9 {
  color: #f51624;
}
.col10 {
  color: #f5b107;
}

.col11 {
  color: #f0078e;
}
.col12 {
  color: #606060;
}
.col13 {
  color: #cf6b7e;
}
.col14 {
  color: #195c82;
}
.col15 {
  color: #209908;
}
.col16 {
  color: #09666b;
}
.col17 {
  color: #8270ba;
}
.col18 {
  color: #995c8f;
}
.col19 {
  color: #f51624;
}
.col20 {
  color: #f5b107;
}

.col21 {
  color: #f0078e;
}
.col22 {
  color: #606060;
}
.col23 {
  color: #cf6b7e;
}
.col24 {
  color: #195c82;
}
.col25 {
  color: #209908;
}
.col26 {
  color: #09666b;
}
.col27 {
  color: #8270ba;
}
.col28 {
  color: #995c8f;
}
.col29 {
  color: #f51624;
}
.col30 {
  color: #f5b107;
}

.col31 {
  color: #f0078e;
}
.col32 {
  color: #606060;
}
.col33 {
  color: #cf6b7e;
}
.col34 {
  color: #195c82;
}
.col35 {
  color: #209908;
}
.col36 {
  color: #09666b;
}
.col37 {
  color: #8270ba;
}
.col38 {
  color: #995c8f;
}
.col39 {
  color: #f51624;
}
.col40 {
  color: #f5b107;
}

.col41 {
  color: #f0078e;
}
.col42 {
  color: #606060;
}
.col43 {
  color: #cf6b7e;
}
.col44 {
  color: #195c82;
}
.col45 {
  color: #209908;
}
.col46 {
  color: #09666b;
}
.col47 {
  color: #8270ba;
}
.col48 {
  color: #995c8f;
}
.col49 {
  color: #f51624;
}
.col50 {
  color: #f5b107;
}

.col51 {
  color: #f0078e;
}
.col52 {
  color: #606060;
}
.col53 {
  color: #cf6b7e;
}
.col54 {
  color: #195c82;
}
.col55 {
  color: #209908;
}
.col56 {
  color: #09666b;
}
.col57 {
  color: #8270ba;
}
.col58 {
  color: #995c8f;
}
.col59 {
  color: #f51624;
}
.col60 {
  color: #f5b107;
}

.col61 {
  color: #f0078e;
}
.col62 {
  color: #606060;
}
.col63 {
  color: #cf6b7e;
}
.col64 {
  color: #195c82;
}
.col65 {
  color: #209908;
}
.col66 {
  color: #09666b;
}
.col67 {
  color: #8270ba;
}
.col68 {
  color: #995c8f;
}
.col69 {
  color: #f51624;
}
.col70 {
  color: #f5b107;
}

.col71 {
  color: #f0078e;
}
.col72 {
  color: #606060;
}
.col73 {
  color: #cf6b7e;
}
.col74 {
  color: #195c82;
}
.col75 {
  color: #209908;
}
.col76 {
  color: #09666b;
}
.col77 {
  color: #8270ba;
}
.col78 {
  color: #995c8f;
}
.col79 {
  color: #f51624;
}
.col80 {
  color: #f5b107;
}

.col81 {
  color: #f0078e;
}
.col82 {
  color: #606060;
}
.col83 {
  color: #cf6b7e;
}
.col84 {
  color: #195c82;
}
.col85 {
  color: #209908;
}
.col86 {
  color: #09666b;
}
.col87 {
  color: #8270ba;
}
.col88 {
  color: #995c8f;
}
.col89 {
  color: #f51624;
}
.col90 {
  color: #f5b107;
}

.col91 {
  color: #f0078e;
}
.col92 {
  color: #606060;
}
.col93 {
  color: #cf6b7e;
}
.col94 {
  color: #195c82;
}
.col95 {
  color: #209908;
}
.col96 {
  color: #09666b;
}
.col97 {
  color: #8270ba;
}
.col98 {
  color: #995c8f;
}
.col99 {
  color: #f51624;
}
.col100 {
  color: #f5b107;
}

.col101 {
  color: #f0078e;
}
.col102 {
  color: #606060;
}
.col103 {
  color: #cf6b7e;
}
.col104 {
  color: #195c82;
}
.col105 {
  color: #209908;
}
.col106 {
  color: #09666b;
}
.col107 {
  color: #8270ba;
}
.col108 {
  color: #995c8f;
}
.col109 {
  color: #f51624;
}
.col110 {
  color: #f5b107;
}

.col111 {
  color: #f0078e;
}
.col112 {
  color: #606060;
}
.col113 {
  color: #cf6b7e;
}
.col114 {
  color: #195c82;
}
.col115 {
  color: #209908;
}
.col116 {
  color: #09666b;
}
.col117 {
  color: #8270ba;
}
.col118 {
  color: #995c8f;
}
.col119 {
  color: #f51624;
}
.col120 {
  color: #f5b107;
}

.col121 {
  color: #f0078e;
}
.col122 {
  color: #606060;
}
.col123 {
  color: #cf6b7e;
}
.col124 {
  color: #195c82;
}
.col125 {
  color: #209908;
}
.col126 {
  color: #09666b;
}
.col127 {
  color: #8270ba;
}
.col128 {
  color: #995c8f;
}
.col129 {
  color: #f51624;
}
.col130 {
  color: #f5b107;
}

.col131 {
  color: #f0078e;
}
.col132 {
  color: #606060;
}
.col133 {
  color: #cf6b7e;
}
.col134 {
  color: #195c82;
}
.col135 {
  color: #209908;
}
.col136 {
  color: #09666b;
}
.col137 {
  color: #8270ba;
}
.col138 {
  color: #995c8f;
}
.col139 {
  color: #f51624;
}
.col140 {
  color: #f5b107;
}

.col141 {
  color: #f0078e;
}
.col142 {
  color: #606060;
}
.col143 {
  color: #cf6b7e;
}
.col144 {
  color: #195c82;
}
.col145 {
  color: #209908;
}
.col146 {
  color: #09666b;
}
.col147 {
  color: #8270ba;
}
.col148 {
  color: #995c8f;
}
.col149 {
  color: #f51624;
}
.col150 {
  color: #f5b107;
}

.col151 {
  color: #f0078e;
}
.col152 {
  color: #606060;
}
.col153 {
  color: #cf6b7e;
}
.col154 {
  color: #195c82;
}
.col155 {
  color: #209908;
}
.col156 {
  color: #09666b;
}
.col157 {
  color: #8270ba;
}
.col158 {
  color: #995c8f;
}
.col159 {
  color: #f51624;
}
.col160 {
  color: #f5b107;
}

.col161 {
  color: #f0078e;
}
.col162 {
  color: #606060;
}
.col163 {
  color: #cf6b7e;
}
.col164 {
  color: #195c82;
}
.col165 {
  color: #209908;
}
.col166 {
  color: #09666b;
}
.col167 {
  color: #8270ba;
}
.col168 {
  color: #995c8f;
}
.col169 {
  color: #f51624;
}
.col170 {
  color: #f5b107;
}

.col171 {
  color: #f0078e;
}
.col172 {
  color: #606060;
}
.col173 {
  color: #cf6b7e;
}
.col174 {
  color: #195c82;
}
.col175 {
  color: #209908;
}
.col176 {
  color: #09666b;
}
.col177 {
  color: #8270ba;
}
.col178 {
  color: #995c8f;
}
.col179 {
  color: #f51624;
}
.col180 {
  color: #f5b107;
}

.col181 {
  color: #f0078e;
}
.col182 {
  color: #606060;
}
.col183 {
  color: #cf6b7e;
}
.col184 {
  color: #195c82;
}
.col185 {
  color: #209908;
}
.col186 {
  color: #09666b;
}
.col187 {
  color: #8270ba;
}
.col188 {
  color: #995c8f;
}
.col189 {
  color: #f51624;
}
.col190 {
  color: #f5b107;
}

.col191 {
  color: #f0078e;
}
.col192 {
  color: #606060;
}
.col193 {
  color: #cf6b7e;
}
.col194 {
  color: #195c82;
}
.col195 {
  color: #209908;
}
.col196 {
  color: #09666b;
}
.col197 {
  color: #8270ba;
}
.col198 {
  color: #995c8f;
}
.col199 {
  color: #f51624;
}
.col200 {
  color: #f5b107;
}
